body{
    background-color: #FFFFF1;
    background-image: linear-gradient(to bottom, #CBDCEB, #FFFFF1);
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid{
    padding: 0;
    min-height: 100%;
    flex-direction: column;
} 

/* navbar */
.header{
    background-color: #608BC1;
    width: auto;
    padding: 10px 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
}

.header img{
    width: 30px;
    height: 30px;
}

.header img:hover{
    background-color: #CBDCEB;
    border-radius: 50%;
}

.header h1{
    color: #FFFFF1;
    margin: auto;
    font-family: 'Jeju Gothic', sans-serif;
}

/* reset password */
.form-password{
    position: relative;
    margin-top: 20px;
}

.reset-password{
    background-color: #FFFFF1;
    margin-top: 170px;
    width: 30%;
    height: fit-content;
    border-radius: 15px;
    padding: 0 40px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.reset-password h3{
    color: #133E87;
    text-align: center;
    margin: 30px auto 0 auto;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 32px;
}

.reset-password p{
    color: #133E87;
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Jeju Gothic', sans-serif;
}

/* new password */
.reset-password label{
    color: #133E87;
    font-family: 'Jeju Gothic', sans-serif;
    margin-top: 40px;
}

.reset-password input{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#new-password-field,
#confirm-password-field{
    border: 2px solid #133E87;
    background-color: #FFFFF1;
    color: #133E87;
    padding-right: 40px;
}

.toggle-password{
    top: 80%;
    right: 15px;
    cursor: pointer;
    color: #133E87;
    font-size: 18px;
    cursor: pointer;
    transform: translateY(-50%);
}

@media (max-width: 769px){
    .toggle-password{
        top: 85%;
    }

    .reset-password{
        width: 60%;
    }

    .reset-password h3{
        font-size: 28px;
    }
}

.confirm-password{
    position: relative;
    margin-top: 0;
}

.reset-password button{
    margin: 60px 40px 50px 0;
    width: 100%;
    color: #F3F3E0;
    background-image: linear-gradient(#133E87, #608BC1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Jeju Gothic', sans-serif;
}

.reset-password button:hover{
    background-image: linear-gradient(#133E87, #133E87);
    color: #F3F3E0
}

/* footer */
.footer{
    margin-top: -3px;
}

.footer h3{
    color: #133E87;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 0;
    margin-top: auto;
    font-family: 'Jeju Gothic', sans-serif;
}

.footer .social-media{
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: auto;
}

.footer .fa{
    font-size: 20px;
    margin-top: 80px;
    color: #133E87;
}

.footer .github{
    margin-right: 50px;
}