{% load static %}

<!-- navbar -->
<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="{% url 'profile' %}">
        <img src="{% static 'libraria/asset/Back-Arrow.png'%}" alt="Back-Arrow" class="back-arrow">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <h1>My Profile</h1>
            </li>
            <li class="nav-item profilePhoto">
                {% if user_profile.file %}
                    <img src="{{ user_profile.file.url }}" alt="myProfile" class="myProfile">
                {% else %}
                    <img src="" alt="myProfile" class="myProfile">
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<!-- sidenav -->
<div class="sidenav">
    <div class="side-item">
        <div class="item-edit">
            <a href="{% url 'editProfile' %}">
                <img src="{% static 'libraria/asset/editProfile.png'%}" alt="Edit Profile" class="editProfile">Edit Profile
            </a>
        </div>
    </div>
</div>