{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Libraria/css/reviewbooks.css' %}">
    <link href='https://fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css' />
    <title>Libraria: Review Book</title>
</head>
<body>
    <header>
        <div class="d-flex">
            <a href="{% url 'shelf' %}" class="me-3">
                <img src="{% static 'libraria/asset/vector.png' %}" alt="Icon" class="back-icon">
            </a>
            <p class="tittle">REVIEW</p>
        </div>
    </header>

    <div class="container">

        <div class="book-info d-flex align-items-start">
            <img src="{{borrowing_item.book.cover_image.url}}" alt="Book Cover" class="img-fluid book-cover me-3">
            <div>
                <p class="book-title">{{ borrowing_item.book.title }}</p>
                <p class="info"><b>Owner:</b> {{ borrowing_item.book.librender.username }}<br><b>Borrowing Duration:</b> {{ borrowing_item.borrow_date }} - {{ borrowing_item.return_date }}</p>
            </div>
        </div>
    
        <div class="review-section">
            <p class="review-label">Book's Review</p>
            <hr>
            <form method="post" action="{% url 'review_book' borrowing_item.borrowing_id %}">
                {% csrf_token %}

                <!-- Rating -->
                <div class="mb-3">
                    <label for="id_rating" class="form-label">Rating</label>
                    {{ form.rating }}
                    {% if form.rating.errors %}
                        <div class="text-danger">{{ form.rating.errors }}</div>
                    {% endif %}
                </div>

                <!-- Review -->
                <div class="mb-3">
                    <label for="id_review" class="form-label">Review</label>
                    {{ form.comment }}
                    {% if form.comment.errors %}
                        <div class="text-danger">{{ form.comment.errors }}</div>
                    {% endif %}
                </div>

                <!-- Submit Button -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary custom-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
